@import "../../scss/variables";

.root {
  display: flex;
  padding: 20px;
  gap: 16px;

  border: none;
  border-radius: 50px;
  background-color: $cardColor;

  height: 260px;

  &__img {
    display: flex;
    border: none;

    img {
      border-radius: 36px;
      border: none;

      width: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .section {
      width: 284px;

      display: flex;
      flex-direction: column;

      gap: 1px;

      .textGray {
        font-size: 0.9rem;
        color: rgb(158, 158, 158);
      }
    }
  }

  &_link {
  }

  .status {
    &__icon {
      font-size: 0.9rem;
    }
  }
}
