.root {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;

  width: 8px;
  height: 8px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 50px;

  &.red {
    background: red;
  }
  &.green {
    background: green;
  }
  &.grey {
    background: grey;
  }
}
