.root {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;

  width: 8px;
  height: 8px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 50px;

  &.red {
    background: red;
  }
  &.green {
    background: green;
  }
  &.grey {
    background: grey;
  }

  @media (max-width: 552px) {
    margin-right: 3.75px;
    margin-bottom: 1.5px;

    width: 6px;
    height: 6px;
  }
}
