@import "../../scss/variables";

.root {
  display: flex;
  flex-direction: column;

  padding: 60px;
  padding-bottom: 80px;
  background-color: $cardColor;
  border-radius: 120px;

  @media (max-width: 2160px) {
    border-radius: 105px;
  }
  @media (max-width: 1770px) {
    border-radius: 90px;
  }
  @media (max-width: 1300px) {
    padding: 40px;
    padding-bottom: 60px;
  }
  @media (max-width: 1270px) {
    border-radius: 80px;
  }
  @media (max-width: 970px) {
    padding: 30px;
    padding-bottom: 50px;
  }
  @media (max-width: 552px) {
    border-radius: 70px;
  }

  &__card {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: 60vw;
    height: 520px;

    @media (max-width: 2160px) {
      height: 390px;
    }
    @media (max-width: 1770px) {
      height: 260px;
    }
    @media (max-width: 1270px) {
      height: 195px;
    }
    @media (max-width: 552px) {
      height: 146.25px;
    }

    &__component {
      transform: scale(2);
      position: absolute;
      top: 90px;
      left: 230px;

      @media (max-width: 2160px) {
        transform: scale(1.5);
        top: 36px;
        left: 105px;
      }
      @media (max-width: 1770px) {
        transform: scale(1);
        top: -10px;
        left: -10px;
      }
      @media (max-width: 1270px) {
        transform: scale(0.75);
        top: -32px;
        left: -67px;
      }
      @media (max-width: 630px) {
        transform: scale(0.6);
        top: -52px;
        left: -108px;
      }
      @media (max-width: 552px) {
        transform: scale(0.75);
        top: -24px;
        left: -52px;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 36px;
      padding-top: 30px;

      font-size: 2rem;
      z-index: 2;

      @media (max-width: 2160px) {
        gap: 27px;
        padding-top: 22px;
        font-size: 1.5rem;
      }
      @media (max-width: 1770px) {
        gap: 18px;
        padding-top: 25px;
        font-size: 1rem;
      }
      @media (max-width: 1270px) {
        gap: 13.5px;
        padding-top: 26.18px;
        font-size: 0.75rem;
      }
      @media (max-width: 970px) {
        display: none;
      }

      .section {
        display: flex;
        flex-direction: column;
        gap: 2px;

        @media (max-width: 2160px) {
          gap: 1.5px;
        }
        @media (max-width: 1770px) {
          gap: 1px;
        }
        @media (max-width: 1270px) {
          gap: 0.75px;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  &__episodes,
  &__episode {
    display: flex;
    flex-direction: column;

    width: 500px;

    @media (max-width: 1770px) {
      width: 300px;
    }
    @media (max-width: 1270px) {
      font-size: 0.75rem;
    }
    @media (max-width: 970px) {
      width: 200px;
    }
    @media (max-width: 770px) {
      width: 150px;
    }
    @media (max-width: 770px) {
      font-size: 0.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;

      gap: 3px;
    }
  }

  &__episode {
    h2 {
      margin-bottom: 0;
    }

    &__character {
      ul {
        height: 424px;

        overflow: auto;

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background: #999;
          border-radius: 6px;
        }
      }
    }
  }

  &__episodes {
    ul {
      height: 497px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 6px;
      }

      li {
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 24px;
  }

  .textGray {
    font-size: 1.75rem;
    color: rgb(158, 158, 158);

    @media (max-width: 2160px) {
      font-size: 1.35rem;
    }
    @media (max-width: 1770px) {
      font-size: 0.9rem;
    }
    @media (max-width: 1270px) {
      font-size: 0.675rem;
    }
  }

  .ep {
    font-size: 0.9rem;
    color: rgb(158, 158, 158);

    @media (max-width: 770px) {
      font-size: 0.675rem;
    }
  }

  &__active {
    color: $secondColor;
    font-weight: 700;

    padding: 4px 12px;
    width: fit-content;
    margin: 2px;

    border: 1px solid $secondColor;
    border-radius: 10px;
  }
}
